<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.edu.mapper.TeacherMapper">

    <select id="findTeacherByAccountAndPassword" parameterType="java.lang.String" resultType="com.example.edu.entity.Teacher">
        select * from teacher where name=#{param1} and password=#{param2}
    </select>

</mapper>