<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.edu.mapper.TeacherMapper">

    <update id="modifyUserInfo" parameterType="com.example.edu.entity.Teacher">
        update teacher set name=#{name}, password=#{password}, sex=#{sex}, avatar=#{avatar} where id=#{id}
    </update>

    <select id="findTeacherByAccountAndPassword" parameterType="java.lang.String" resultType="com.example.edu.entity.Teacher">
        select * from teacher where name=#{param1} and password=#{param2}
    </select>

</mapper>